* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  inline-size: auto;
}
h2 { color: rgb(0, 0, 0);}

header {
  text-align: left;
  padding: 70px;
  font-style: italic;
  color: rgb(0, 0, 0)  ;
  inline-size: auto;
  box-sizing:content-box
}

header h1 {
  font-size: 32px;
}

header img {
  max-width: 100%;
 
  
}

nav {
  background-color: #250374;
  color: #9eb50a;
  text-align:center;
  padding: 10px;
  
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
}


section {
  padding: 20px;
}

.work-item img {
  max-width: 40%;
}



body {
  background-image: url('../images/background.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}
